// fonts
$bold : "Montserrat-Bold", sans-serif;
$extrabold : "Montserrat-ExtraBold", sans-serif;
$light : "Montserrat-Light", sans-serif;
$medium : "Montserrat-Medium", sans-serif;
$regular : "Montserrat-Regular", sans-serif;

//colors
$accent-green : #5EAF28;
$green : #75B14E;
$yellow : #FFE55D;
$text-dark : #333333;
$orange : #FF865F;

// bootstrap container's variables
$grid-breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 992px,
  xl: 1465px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 992px,
  xl: 1465px
);

@mixin before-icon {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-size: contain;
}