// fonts
$bold : "Montserrat-Bold", sans-serif;
$extrabold : "Montserrat-ExtraBold", sans-serif;
$light : "Montserrat-Light", sans-serif;
$medium : "Montserrat-Medium", sans-serif;
$regular : "Montserrat-Regular", sans-serif;

//colors
$accent-green : #5EAF28;
$green : #75B14E;
$yellow : #FFE55D;
$text-dark : #333333;