@import "variables";
@import "modules/bootstrap-grid";
@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";

@import "sections/header";
@import "sections/head-section";


html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}

.main-text {
  font-family: $bold;
  font-size: 36px;
  line-height: 44px;
  color: $text-dark;
}
p {
  font-size: 18px;
  font-family: $regular;
  color: $text-dark;
  line-height: 22px;
}
p.big-p {
  font-family: $light;
  font-size: 28px;
  line-height: 44px;
}
h2 {
  color: $text-dark;
  font-family: $bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
h3 {
  font-size: 24px;
  font-family: $bold;
  line-height: 29px;
}
.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  h3 {
    text-align: center;
    color: #FF865F;
    width: 100%;
    margin-bottom: 29px;
  }
  input[type='text'] {
    width: 287px;
    height: 71px;
    background: #ECECEC;
    border-radius: 50px;
    font-family: $medium;
    font-size: 22px;
    padding: 15px 35px;
    color: #B3B3B3;
    border: none;
    margin-right: 45px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
  }
  button {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    padding: 21px 45px;
    border: none;
    background: #FFE55D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    color: #353535;
    svg {
      margin-left: 15px;
      height: 25px;
      width: 25px;
      fill: #424037;
    }
  }
}
.header-form {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 27px 130px 37px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -100px;
    top: 0;
    background: url("../images/glove.png") no-repeat;
    background-size: contain;
    width: 264px;
    height: 268px;
  }
}






/*========MEDIA=========*/
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
  .form {
    border-radius: 30px;
    padding: 36px 33px 57px;
    flex-direction: column;

    input[type='text'] {
      width: 100%;
      margin-right: 0;
      margin-bottom: 33px;
    }

    button {
      width: 100%;

      span {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .header-form {
    &:before {
      top: auto;
      bottom: -40px;
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
  }
  p.big-p {
    //font-size: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 568px) {
  .header-form {
    h3 {
      font-size: 20px;
    }

    input[type='text'] {

      font-size: 20px;
      padding: 10px 30px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 20px;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-size: 20px;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 20px;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-size: 20px;
      }
    }

    button {
      font-size: 20px;
      padding: 21px 45px;

      svg {
        height: 20px;
        width: 20px;
      }
    }

    &:before {
      width: 140px;
      height: 110px;
      left: 0;
      bottom: 30px;
    }
  }
}

@media (max-width: 480px) {

  .btn-header {
    border: 2px solid $green;
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {

}
