.agitation {
  background: #FFF8ED;
  .container {
    flex-direction: column;
  }
  .row {
    margin-bottom: 150px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:before {
    content: '';
    display: inline-block;
    background: url("../../images/dotted.svg") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(897px / 2);
    height: 897px;
    z-index: 0;
  }
}
.agitation-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 992px) {
  .agitation {
    &:before {
      transform: rotate(180deg);
      left: auto;
      right: 0;
      height: 357px;
      width: calc(357px / 2);
    }
  }
}
@media (max-width: 768px) {
  .agitation {
    .container {
      .row {
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}