.lost {
  position: relative;
  background: #F6F6F6;
  .container {
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../../images/vector-green.svg") no-repeat;
    background-size: cover;
    bottom: -3px;
    left: 0;
    right: 0;
  }
}
.lost-square {
  border: 10px solid #EAE6DF;
  position: relative;
  padding: 45px 45px 45px 390px;
  margin: 0 30px 100px;
  z-index: 1;
  &--text {
    margin-bottom: 15px;
  }
  h3 {
    color: #FF865F;
    font-family: $medium;
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }
  &:before {
    background: url("../../images/whitedog.png") no-repeat;
    background-size: contain;
    width: 404px;
    height: 396px;
    bottom: 50%;
    transform: translateY(50%);
    left: -88px;
    z-index: -1;
  }
  &:after {
    background: url("../../images/hand.png") no-repeat;
    width: 687px;
    height: 348px;
    top: -307px;
    right: -235px;
  }
}
.lost-wanted {
  @include make-row();
  display: flex;
}
.lost-wanted--title {
  @include make-col-ready();
  @include make-col(12);
  margin-bottom: 100px;
  h2 {
    margin: 0 auto;
    max-width: 800px;
    span {
      color: $green;
    }
  }
}
.lost-wanted--list {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(5);
  };
  @include media-breakpoint-down(lg) {
    @include make-col(12);
  };
  margin: auto 0;
  
}
.lost-wanted--item {
  position: relative;
  margin-bottom: 42px;
  p {
    max-width:360px;
    margin-left: calc(22px + 80px);
  }
  &:before {
    content: '';
    display: inline-block;
    background: url("../../images/cross-mark-icon.svg") no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-size: contain;
  }
}
.lost-image {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(7);
  };
  @include media-breakpoint-down(md) {
    @include make-col(12);
  };
  &--inner {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-size: 0;
  }
  img {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .lost-wanted--item {
    p {
      max-width: 992px;
      margin-left: calc(22px + 60px);
    }
    &:before {
      width: 60px;
      height: 60px;
    }
  }

}

@media screen and (max-width: 992px) {
  .lost {
    .container {
      padding-bottom: 50px;
    }
  }
  .lost-square {
    border: 8px solid #EAE6DF;
    padding: 25px 15px 50px;
    margin: 0 0 190px;
    &:before {
      opacity: .6;
    }
  }
  .lost-wanted {
    flex-direction: column;
    align-items: center;
  }
  .lost-wanted--title {
    margin-bottom: 40px;
  }
  .lost-image {

    order: 0;
    margin-bottom: 40px;
  }
  .lost-wanted--list {
    order: 5;
    &-item {

    }
  }
}
@media screen and (max-width: 768px) {
  .lost {
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .lost-square {
    &:before {
      opacity: 1;
      width: 181px;
      height: 177px;
      top: auto;
      bottom: 0;
      transform: translateY(70%);
      left: 0;
    }
    &:after {
      background-size: contain;
      width: 337px;
      height: 170px;
      top: -130px;
      right: -60px;
    }
  }
}
