.buy_agitation {
  background: #FFF8ED;
  position: relative;
  padding: 175px 0 0;

  .row {
    margin-bottom: 150px;
  }

  &:before {
    content: '';
    display: inline-block;
    background: url("../../images/dotted.svg") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(897px / 2);
    height: 897px;
  }
}

.buy_agitation-image {
  display: inline-flex;

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.buy_agitation-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: left;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .buy_agitation {
    padding: 78px 0 0;
  }
}

@media (max-width: 992px) {
  .buy_agitation {
    &:before {
      transform: rotate(180deg);
      left: auto;
      right: 0;
      height: 357px;
      width: calc(357px / 2);
    }
  }
}

@media (max-width: 768px) {
  .buy_agitation {
    .container {
      .row {
        margin-bottom: 50px;
      }
    }
  }
}
