.form-section {
  background-color: #FFF8ED;
  .container {
    padding: 105px 15px 0;
  }
}
.form-section-img {
  @extend .col-lg-4;
  display: inline-flex;
  img {
    width: 100%;
    height: auto;
    margin-top: auto;
  }
}
.form-section-form {
  h2 {
    text-align: left;
    margin-bottom: 15px;
  }
  p {
    @extend .big-p;
    text-align: left;
    margin-right: auto;
    margin-bottom: 35px;
  }
  .input-wrap {
    padding-bottom: 100px;
    margin-right: auto;
  }
  button {
    background-color: $accent-green;
    color: $white;
  }
}
.consultation-form {
  @extend .col-lg-8;
}
.form-section-green {
  background: #75B14E;
  h2,p {
    color: #fff;
  }
  .form-section-img {
    order: 2;
    transform: scale(-1, 1)
  }
  button {
    background: #FFE55D;
    color: #404040;
  }
}
/*===MEDIA=====*/
@media (max-width: 1370px) {
  .form-section-form {
    input[type = "text"] {
      margin-right: 10px;
      width: 250px;
    }
  }
}
@media (max-width: 1200px) {
  .form-section-img {
    img {
      margin-bottom: auto;
    }
  }
  .form-section-form {
     input[type = "text"] {
       margin-right: 0;
       width: 100%;
     }
   }
}
@media (max-width: 992px) {
  .form-section {
    .container {
      padding: 75px 0 0;
    }
  }
  .form-section-img {
    order: 2;
    padding-right: 30px;
  }
  .form-section-form .input-wrap {
    padding-bottom: 50px;
  }
}
@media (max-width: 568px) {
  .form-section {
    .container {
      padding: 50px 0 0;
    }
  }
  .form-section-form {
    .input-wrap {

      padding-bottom: 20px;
    }
  }
  .form-section-green {
    .form-section-img {
      padding-right: 170px;
    }
  }
}
