.form-section {
  background-color: #FFF8ED;
  .container {
    padding: 105px 15px 0;
  }
  .form {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    };
    @include media-breakpoint-down(md) {
      @include make-col(12);
    };
    padding: 0 33px 0;
    h2 {
      text-align: left;
      margin-bottom: 15px;
    }
    p {
      text-align: left;
      margin-right: auto;
      margin-bottom: 35px;
    }
    .input-wrap {
      padding-bottom: 100px;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
    }
    input[type='text'],input[type='tel'] {
      background: #EDE7DE;
    }
    button {
      background-color: $accent-green;
      color: $white;
      span {
        margin-left: auto;
        margin-right: auto;
        &:before {
          display: none;
        }
      }
    }
  }
}
.form-section-img {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  };
  @include media-breakpoint-down(md) {
    @include make-col(12);
  };
  display: inline-flex;
  img {
    width: 100%;
    height: auto;
    margin-top: auto;
  }
}
.form-section-green {
  background: #75B14E;
  h2,p {
    color: #fff;
  }
  .form-section-img {
    order: 2;
    transform: scale(-1, 1)
  }
  .form {
      button {
    background: #FFE55D;
    color: #404040;
  }
  }

  .input-wrap input {
    background-color: #fff;
  }
}

@media (max-width: 1465px) {
  .form-section {
    .form {   
input[type = "text"] {
      margin-right: auto;
    }
    input[type = "tel"] {
      margin-right: 0;
    }
    }
  }
}
@media (max-width: 1200px) {
  .form-section .container {
    padding: 75px 15px 0;
    .form {
      input[type = "text"] {
       margin-right: 0;
       width: 100%;
     }
    }
}
}
@media (max-width: 992px) {
  .form-section {
    .container {
      padding: 50px 15px 0;
    }
    .form .input-wrap {
    padding-bottom: 50px;
  }
  }
  .form-section-img {
    order: 2;
    padding-right: 30px;
  }
}
@media (max-width: 575px) {

  .form-section {
    .form {
          .input-wrap {
      padding-bottom: 20px;
    }
    }
  }
  .form-section-green {
    .form-section-img {
      padding-right: 170px;
    }
  }
}
