/*--------TOP SECTION-------------*/
.head-section {
  min-height: 100vh;
  background: rgba(255, 243, 220, 0.8);
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: calc(-262px / 2);
    left: 0;
    background: linear-gradient(180deg, #FFF5E3 0%, #F6F6F6 100%);
    width: 100%;
    height: 262px;
  }
}
.head-block {
  margin: auto 0;
  padding-top: 0;
  .container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }
}
//---------left column--------------
.head-content {
  display: flex;
  justify-content: center;
  margin: auto 0;
  &--text {
    min-width: 654px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 3;
  }
  &--title {
    font-family: $bold;
    font-size: 78px;
    color: $accent-green;
  }
  &--title-2 {
    font-family: $bold;
    display: inline-block;
    padding: 5px 20px;
    background-color: $accent-green;
    color: $white;
    font-size: 48px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-right: auto;
  }
  .section-cont {
    &--text {
      max-width: 523px;
    }
  }
  &--img {
    width: 540px;
  }
}
//---------right column-----------
.head-table--wrap {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.head-table {
  display: flex;
  flex-wrap: wrap;
  width: 347px;
  margin-left: auto;
  &--row {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: rgba(240, 231, 214, .7);
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 96px;
    border-radius: 10px;
    &:before {
      @include before-icon();
      width: 50px;
      height: 50px;
      left: 15px;
    }
    &:nth-child(1) {
      &:before {
        background: url(../../images/fingerUp.png) no-repeat center center;
      }
    }
    &:nth-child(2) {
      &:before {
        background: url(../../images/smartphone-icon.png) no-repeat center center;
      }
    }
    &:nth-child(3) {
      &:before {
        background: url(../../images/loop-icon.png) no-repeat center center;
      }
    }
    &:nth-child(4) {
      &:before {
        background: url(../../images/sled-icon.png) no-repeat center center;
      }
    }
    &:nth-child(5) {
      &:before {
        background: url(../../images/garanty-icon.png) no-repeat center center;
      }
    }
  }
  &--txt {
    padding: 10px 32px 10px 98px;
  }
}
//---------HEADER-FORM---------
.form-container.container {
  margin-top: auto;
  padding-top: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  h3 {
    text-align: center;
    color: #FF865F;
    width: 100%;
    margin-bottom: 30px;
  }
  input[type='text'], input[type='tel'] {
    outline: none;
    width: 287px;
    height: 71px;
    background: #ECECEC;
    border-radius: 50px;
    font-family: $medium;
    font-size: 22px;
    padding: 15px 35px;
    color: #B3B3B3;
    border: none;
    margin-right: 45px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #B3B3B3;
      font-family: $medium;
      font-size: 22px;
    }
  }
  .btn {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    padding: 21px 45px;
    border: none;
    background: #FFE55D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    color: #353535;
    span {
      margin-right: 30px;
      &:before {
        @include before-icon();
        width: 20px;
        height: 20px;
        right: -30px;
        background: url(../../images/lapa-icon.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}

.head-form {
  background: #FFFFFF;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 27px 130px 37px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -100px;
    top: 0;
    background: url("../../images/glove.png") no-repeat;
    background-size: contain;
    width: 264px;
    height: 268px;
    z-index: 3;
  }
}



@media screen and (max-width: 1465px) {
  .head-content {
    &--img {
      width: 300px;
      position: absolute;
      bottom: 32%;
      transform: translateY(50%);
      right: -100px;
      margin-top: auto;
      margin-left: auto;
    }
  }
  /*-------header form--------*/
  .form {
    border-radius: 30px;
    padding: 36px 33px 57px;
    flex-wrap: wrap;
    input[type='text'], input[type='tel'] {
      width: calc(50% - 20px);
      margin-right: 20px;
      margin-bottom: 33px;
      &:last-child {
        margin-right: 0;
      }
    }
    .btn {
      width: 100%;
      span {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .head-form {
    &:before {
      top: auto;
      bottom: -70px;
    }
  }
}

@media screen and (max-width: 1200px) {
  /*-------header left column--------*/
  .head-content {
    &--text {
      min-width: auto;
      margin-right: auto;
    }
    &--title {
      font-size: 70px;
    }
    &--title-2 {
      font-size: 44px;
    }
    .section-cont {
      &--text {
        min-width: auto;
        margin-right: auto;
      }
    }
    &--img {
      width: 500px;
      position: absolute;
      bottom: 32%;
      transform: translateY(50%);
      right: -100px;
      margin-top: auto;
      margin-left: auto;
    }
  }
  /*-------header right column--------*/
  .head-table {
    width: 100%;
    &--row {
      width: calc(50% - 10px);
    }
  }
  /*-------header form--------*/
  .form {
    input[type='text'], input[type='tel'] {
      width: 100%;
    }
  }
  .head-form {
    &:before {
      top: auto;
      bottom: -40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .head-block {
    .container {
      padding-top: 0;
    }
  }
  /*-------top left block--------*/
  .head-content {
    .section-cont {
      &--text {
        max-width: 350px;
      }
    }
    &--img {
      width: 360px;
    }
  }
  /*-------header form--------*/
  .head-table {
    &--row {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  /*-------top left block--------*/
  .head-content {
    &--title {
      font-size: 36px;
    }
    &--title-2 {
      font-size: 30px;
      padding: 4px 18px;
    }
    .section-cont {
      &--title {
        max-width: 200px;
      }
      &--text {
        max-width: 200px;
      }
    }
    &--img {
      width: 360px;
    }
  }
  .form {
    .form input[type='text'], .form input[type='tel'] {
      height: 65px;
    }
  }
}

@media screen and (max-width: 568px) {
  /*-------header form--------*/
  .head-form {
    h3 {
      font-size: 20px;
    }
    input[type='text'], input[type='tel'] {
      font-size: 20px;
      margin-right: 0;
      height: 65px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 20px;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-size: 20px;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 20px;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-size: 20px;
      }
    }
    .btn {
      font-size: 20px;
      padding: 21px 45px;
    }
    &:before {
      width: 140px;
      height: 110px;
      left: 0;
      bottom: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  /*-------top left block--------*/
  .head-content {
    &--title {
      font-size: 34px;
    }
    .section-cont {
      &--title {
        max-width: 162px;
      }
      &--text {
        max-width: 162px;
      }
    }
    &--img {
      width: 252px;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 320px) {
  /*-------top left block--------*/
  .head-content {
    &--title {
      font-size: 30px;
    }
    &--title-2 {
      font-size: 22px;
    }
  }
}
