.instructions {
  position: relative;
  background-color: #fff;
  padding: 125px 0;
  .section-title {
    &--title {
      text-align: left;
      margin-bottom: 70px;
    }
  }
}
.instructions-image--inner {
  position: relative;
  margin: auto;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.instructions-block, .agitation-text {
  .instructions-image--inner {
    display: none;
  }
}
.instructions-item {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  min-height: 85px;
  &--num {
    display: inline-block;
    font-family: $bold;
    font-size: 36px;
    line-height: 44px;
    color: #5EAF28;
    margin-right: 20px;
  }
  &--text {
    padding-top: 15px;
  }
}
.instructions-sub {
  padding: 0 15px;
  max-width: 1060px;
  margin: 80px auto 0;
  line-height: 44px;
  &--title {
    color: #FF865F;
  }
  h3, p {
    display: inline;
  }
  &:after, &:before {
    display: none;
  }
}
@media (max-width: 992px) {
  .instructions {
    padding: 50px 0;
    &-image {
      .instructions-image--inner {
        display: none;
      }
    }
  }
  .instructions-block {
    h2 {
      margin-bottom: 10px;
    }
    .instructions-image--inner {
      display: block;
      margin-bottom: 21px;
    }
  }
  .instructions-item {
    p {
      padding-top: 0;
    }
  }
  .instructions-sub {
    margin: 40px auto 0;
    line-height: 22px;
  }
  .instructions-item--num {
  line-height: about;
}
}
