.instructions {
  background-color: #fff;
  padding: 125px 0;
}
.instructions-image {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(6);
  };
  @include media-breakpoint-down(md) {
    @include make-col(12);
  };
  display: inline-flex;
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.instructions-list-block {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(6);
  };
  @include media-breakpoint-up(xl) {
    @include make-col(5);
  };
  @include media-breakpoint-down(md) {
    @include make-col(12);
  };
  h2 {
    text-align: left;
    margin-bottom: 70px;
  }
}
.instructions-list-item {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  min-height: 85px;
  .num {
    display: inline-block;
    font-family: $bold;
    font-size: 36px;
    line-height: 44px;
    color: #5EAF28;
    margin-right: 20px;
  }
  p {
    padding-top: 15px;
  }
}
.if_no_internet {
  border: none;
  padding: 0 15px ;
  max-width: 1060px;
  margin: 80px auto 0;
  h3, p {
    display: inline;
  }
  &:after, &:before {
    display: none;
  }
}
@media (max-width: 992px) {
  .instructions {
    padding: 50px 0;
  }
  .instructions-list-block {
    h2 {
      margin-bottom: 10px;
    }
  }
  .instructions-list-item {
    p {
      padding-top: 0;
    }
  }
  .if_no_internet {
    margin: 50px auto 0;
  }
}
