.lost {
  background: #F6F6F6;
  .container {
    padding-bottom: 300px;
    flex-direction: column;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    background: url("../../images/vector-green.svg") no-repeat;
    background-size: cover;
    bottom: -3px;
    left: 0;
    right: 0;
  }
}
.lost-square {
  border: 10px solid #EAE6DF;
  padding: 45px 45px 45px 390px;
  margin: 0 30px 100px;
  z-index: 1;
  &--text {
    margin-bottom: 15px;
  }
  .lost-squart--title {
    color: #FF865F;
    font-family: $medium;
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
  }
  &:before {
    background: url("../../images/whitedog.png") no-repeat;
    background-size: contain;
    width: 404px;
    height: 396px;
    bottom: 50%;
    transform: translateY(50%);
    left: -88px;
    z-index: -1;
  }
  &:after {
    background: url("../../images/hand.png") no-repeat;
    width: 687px;
    height: 348px;
    top: -307px;
    right: -235px;
  }
}
.lost-wanted {
  display: flex;
  .section-cont {
    margin-bottom: 100px;
    &--title {
      margin: 0 auto;
      max-width: 800px;
    }
  }
}
.lost-wanted--list {
  margin: auto;
}
.lost-wanted--item {
  margin: 0 auto 40px 0;
  max-width:360px;
  .text {
    margin-left: calc(22px + 80px);
  }
  &:before {
    content: '';
    display: inline-block;
    background: url("../../images/cross-mark-icon.svg") no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-size: contain;
  }
}
.lost-image {
  &--inner {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-size: 0;
  }
}

@media screen and (max-width: 1200px) {
  .lost {
    .container {
      padding-top: 0;
      padding-bottom: 200px;
    }
  }
  .lost-wanted--item {
    max-width: 992px;
    .text {
      margin-left: calc(22px + 60px);
    }
    &:before {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 992px) {
  .lost {
    .container {
      padding-top: 0;
      padding-bottom: 100px;
    }
  }
  .lost-square {
    border: 8px solid #EAE6DF;
    padding: 25px 15px 50px;
    margin: 0 0px 145px;
    &:before {
      opacity: .6;
    }
  }
  .lost-wanted {
    flex-direction: column;
    align-items: center;
    .section-cont {
      margin-bottom: 40px;

    }
  }
  .lost-image {
    order: 0;
    margin-bottom: 50px;
  }
  .lost-wanted--list {
    order: 5;
  }
  .lost-wanted--item {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 768px) {
  .lost {
    .container {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  .lost-square {
    &:before {
      opacity: 1;
      width: 181px;
      height: 177px;
      top: auto;
      bottom: 0;
      transform: translateY(70%);
      left: 0;
    }
    &:after {
      background-size: contain;
      width: 337px;
      height: 170px;
      top: -130px;
      right: -60px;
    }
  }
}
